@import "../../colors.scss";

nav{
  background-color: $colorThemeDark;
  width: 20%;
  height:calc(100vh - 134px);
  padding-top: 1em;
  padding-bottom: 1em;
  border-style: solid; 
  border-color: $colorThemeLight;
  border-width: 3px 0px 3px 0px;
}

ul, .add{
  list-style: none;
  margin-left: -1em;
  

}

ul>li, .addBoard{
  background-color: $colorThemeLight;
  margin-right: 2em;
  padding: 1em;
  margin-bottom: 0.5em; 
  border-radius: 0.5em;
  border: 2px solid $colorBorderStandard;
  color: $colorFontStandard;
  font-weight: bold;
}

.add{
  display: flex;
  flex-direction: row;
  justify-content:flex-end;
}

.addBoard{
  width: 5%;
  padding:1.1em;
  display: flex;
  justify-content: space-between;
  
  > .inputName{
    display: none;
  }

  > span{
    font-size: 0.8em;
  }
}

.addBoard:hover{
  width: 100%;
  margin-left: 2.5em;
  padding: 0.66em;

  > .inputName{
    display:block;
    width: 70%;
  }
  
  > span{
    padding: 0.55em 0.7em 0em 0em;
    display: block;
    color: $colorFontHover;
  }
  
}

.board{
  display: flex;
  justify-content: normal;
  
  > .boardEdit, .deleteBoard{
    margin-left: auto;
    display: none;
  } 

  > .deleteBoard, .undoEditBoard{
    margin-top:0.3em;
  }
}

.board:hover{
  border-color: #387580;
  > .boardEdit, .deleteBoard{
    display: block;
  }  
}

.boardEdit:hover, .deleteBoard:hover, .undoEditBoard:hover{
  color: $colorFontHover;
}

.boardName{
  position: relative;
  top:-0.15em;
}

.inputNameEdit{
  width: 70%;
}

.active {
  color: $colorFontSelection;
  text-decoration: none;
}


a{
  text-decoration: none;
  color: $colorFontStandard;

}

a:hover{
  color: $colorFontHover;
}