@import "../../colors.scss";

#boardList{
  background-color: $colorThemeDark;
  width: 20%;
  height:calc(100vh - 134px);
  padding-top: 1em;
  padding-bottom: 1em;
  border-style: solid; 
  border-color: $colorThemeLight;
  border-width: 3px 0px 3px 0px;


  ul{
    list-style: none;
  }

  ul>li, .addBoard{
    background-color: $colorThemeLight;
    margin-right: 2em;
    padding: 1em;
    margin-bottom: 0.5em; 
    border-radius: 0.5em;
    border: 2px solid $colorBorderStandard;
    color: $colorFontStandard;
    font-weight: bold;
  }

  
}

.add {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  .addBoard{
    display: flex;  
    margin-top: -0.4em; 
    margin-left: 2.5em;
    
      input{
        width: 70%;
        margin: -0.3em 4% -0.3em -0.3em;
      }

      > button{
        border: none;
        text-decoration: none;
        background: none;        
        color: $colorFontEssential;
      }
  }

  > button{    
    color: $colorFontEssential;
    background-color: $colorThemeLight;
    border: 2px solid $colorBorderStandard;
    border-radius: 0.5em;
    padding: 0.7em 0.8em 0.6em 0.8em;
    margin-left: 20%;
    margin-right: 2.2em;
  }

  > button:hover{
    color: $colorFontHover;
  }
}

.board{
  display: flex;
  justify-content: normal;
  
  > .boardEdit, .deleteBoard{
    margin-left: auto;
    display: none;
  } 

  > .deleteBoard, .undoEditBoard{
    margin-top:0.3em;
  }
}

.board:hover{
  border-color: #387580;
  > .boardEdit, .deleteBoard{
    display: block;
  }  
}

.boardEdit:hover, .deleteBoard:hover, .undoEditBoard:hover{
  color: $colorFontHover;
}

.boardName{
  position: relative;
  top:-0.15em;
}

.inputNameEdit{
  width: 70%;
}

.active {
  color: $colorFontEssential;
  text-decoration: none;
}


a{
  text-decoration: none;
  color: $colorFontStandard;

}

a:hover{
  color: $colorFontHover;
}