@import '../../colors.scss';

.Board{
  height: calc(100vh - 134px);
  background-color:$colorThemeLight;
  width: 80%;
  padding-bottom: 2em;
  padding-left: 2em;   
  border-style: solid;
  border-color: $colorBorderStandard;
  border-width: 3px;
}

.Board {
  div{
    display: flex;
    h3{
      color:$colorFontEssential;    
    }
    button{
      margin-top: 0.5em;
      border: none;
      text-decoration: none;
      background: none;        
      color: $colorFontEssential;
    }

    button:hover{
      color: $colorFontHover;
    }
  }
}

#lists{
  display: flex;
  height: calc(100% - 33px);
  overflow-x: scroll;
  .list, #addList{
    background-color:$colorThemeLight;
    margin: 0px 2em 0px 2em;
    .titleList{
      width: 13em;
      height: 2.1em;
      display: flex;
      padding: 0em 0.3em 0em 1em;
      justify-content: flex-end;
      background-color: none;      
      border-bottom: 2px solid $colorBorderEssential;    
      
      h4{
        color: $colorFontEssential;
        margin: 0.4em auto 0 0;
      }
      button{
        border: none;
        text-decoration: none;
        background: none;        
        color: $colorFontEssential;
      }
    }
    
  }

  #addList{    
    .titleList{
      margin-top: -0.3em;
      padding: 0em 0.3em 0.3em 0em;

      input{
        width: 11em;
      }
    }
  }

  .list{
    display: flex;
    flex-direction: column;
    
    .editList{
      display: none;
    }

    .editList:hover, .undoEditList:hover, .addTodo:hover, .deleteList:hover{
      color: $colorFontHover;
    }
  }

  .list:hover{

    .titleList{
      h4{
        color: $colorFontHover;
      }
    }

    .editList{
      display: block;
    }
  }

  .titleList:hover{
    cursor: move;
  }

  .inputNameEdit, .undoEditList{
    margin-bottom: 0.3em;
  }

  .inputNameEdit{
    width: 9em;
  }
}  
