@import '../../colors.scss';

.Board{
  height:800px;
  background-color:$colorThemeLight;
  width:80%;
  padding-bottom: 2em;
  padding-left: 2em;
  border-style: solid;
  border-color: $colorBorderStandard;
  border-width: 3px ;
}

.Board {
  
  h3{
    color: #25636e;    
  }
}

#lists{
  display: flex;
  margin-top: 1em;

  .list{
    background-color:$colorThemeLight;
    margin: 0px 2em 0px 2em;
    cursor: move;

    .titleList{
      width: 13em;
      height: 2.1em;
      display: flex;
      padding: 0em 0.3em 0em 1em;
      justify-content: flex-end;
      background-color: none;      
      border-bottom: 2px solid #95b8be;    
      
      h4{
        color: $colorBorderStandard;
        margin: 0.4em auto 0 0;
        
      }
      button{
        border: none;
        text-decoration: none;
        background: none;        
        color: $colorBorderStandard;
      }
    }
    
  }
}  
