$colorThemeDarkest: #312c51;
$colorThemeDark: #585377;
$colorThemeLight: #f8d0a1;
$colorThemeLightest: #bfd7ed;

$colorFontHover: #123f47;
$colorFontStandard:#3d8e9c;
$colorFontEssential: #25636e;
$colorBorderStandard:#3b8c9b;
$colorBorderEssential: #9ca1a3;
