$colorThemeDarkest: #312c51;
$colorThemeDark: #585377;
$colorThemeLight: #f8d0a1;
$colorThemeLightest: #f1aa9b;

$colorFontHover: #123f47;
$colorFontStandard:#3d8e9c;
$colorBorderStandard:#3b8c9b;
$colorFontSelection:#25636e;