@import "../../colors.scss";

.taskList {
  ul {
    list-style: none;
    margin-left: -2.5em;
  }
}

.task,
.addTask {
  background-color: $colorThemeLightest;
  margin: 0.5em;
  padding: 0.8em 0.8em 0.8em 1.5em;
  border-radius: 0.3em;
  border: 0.187em solid $colorBorderEssential;
  color: $colorFontEssential;
  font-weight: bold;
}

.task {
  display: flex;
  span {
    margin-right: auto;
  }
  .editTask {
    display: none;
    margin-top: -0.05em;
  }

  .inputTaskNameEdit {
    width: 8.5em;
    height: 1.6em;
    margin: -0.5em auto -0.5em -1em;
  }

  .undoEditTask,
  .deleteTask {
    margin-top: 0.15em;
    padding-right: 0.25em;
  }
}

.task:hover {
  span {
    color: $colorFontHover;
  }
  .editTask {
    display: block;
  }
}

.editTask:hover,
.deleteTask:hover,
.undoEditTask:hover {
  color: $colorFontHover;
}

.addTask {
  margin-bottom: -0.5em;
  padding: 0.5em 0.5em 0.5em 1em;

  .inputName {
    width: 10em;
  }
}
